<p *ngIf="preparationStep">
  Editing the preparation step with initial title "<span class="fw-bold">{{
    preparationStep.title
  }}</span
  >"
</p>
<form [formGroup]="preparationStepForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title :</label>
  </div>
  <div>
    <input id="title" type="text" formControlName="title" />
  </div>
  <span
    *ngIf="preparationStepForm.get('title')?.errors?.['required']"
    class="text-danger"
  >
    Title is required
  </span>
  <span
    *ngIf="preparationStepForm.get('title')?.errors?.['maxlength']"
    class="text-danger"
  >
    Title must be 50 characters maximum
  </span>
  <div class="mt-2">
    <label for="stepNumber">Step number:</label>
  </div>
  <div>
    <input id="stepNumber" type="number" formControlName="stepNumber" />
  </div>
  <span
    *ngIf="preparationStepForm.get('stepNumber')?.errors?.['required']"
    class="text-danger"
  >
    Step number is required
  </span>
  <span
    *ngIf="preparationStepForm.get('stepNumber')?.errors?.['min']"
    class="text-danger"
  >
    Step number must be greater than 0
  </span>
  <span
    *ngIf="preparationStepForm.get('stepNumber')?.errors?.['max']"
    class="text-danger"
  >
    Step number must be less than 2147483647
  </span>
  <div class="mt-2">
    <label for="step">Step :</label>
  </div>
  <div>
    <textarea class="w-50" rows="5" id="step" formControlName="step"></textarea>
  </div>
  <span
    *ngIf="preparationStepForm.get('step')?.errors?.['required']"
    class="text-danger"
  >
    Step is required
  </span>
  <span
    *ngIf="preparationStepForm.get('step')?.errors?.['maxlength']"
    class="text-danger"
  >
    Step must be 500 characters maximum
  </span>
  <div>
    <button class="btn btn-warning mt-1" type="submit">Save changes</button>
    <button class="btn btn-primary mt-1 ms-1" (click)="closeEdit()">
      Cancel
    </button>
  </div>
</form>

<div class="alert alert-danger mt1" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>
<div class="alert alert-success mt1" role="alert" *ngIf="statusCode == 204">
  Preparation step edited with success!
</div>
