<h2>Preparation steps</h2>
<p *ngIf="preparationSteps.length == 0">No data found</p>
<div>
  <button
    class="btn btn-outline-primary"
    (click)="toggleAddPreparationStep()"
  >
    <i class="bi bi-plus-square"></i> Add
  </button>
</div>
<preparation-step-add
  [recipeId]="recipeId"
  (closingAdd)="toggleAddPreparationStep()"
  (addSuccessful)="onAddSuccess()"
  *ngIf="displayAddPreparationStep"
></preparation-step-add>
<div class="alert alert-success mt-1" role="alert" *ngIf="addSuccessful">
  Preparation step added with success!
</div>

<ul class="list-group" *ngIf="preparationSteps.length">
  <a
    class="list-group-item mt-1"
    *ngFor="let preparationStep of preparationSteps"
    [routerLink]="[
      '/recipes',
      recipeId,
      'preparationsteps',
      preparationStep.id
    ]"
  >
    Step {{ preparationStep.stepNumber }}: {{ preparationStep.title }}
  </a>
</ul>
<div class="alert alert-danger mt1" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>
