<h2>Preparation steps</h2>
<span *ngIf="preparationSteps.length == 0">No data found</span>
<button
  class="btn btn-outline-primary mt-2"
  (click)="toggleAddPreparationStep()"
  *ngIf="!displayAddPreparationStep"
>
  Add
</button>
<preparation-step-add
  [recipeId]="recipe.id"
  (closingAdd)="toggleAddPreparationStep()"
  (addSuccessful)="refresh()"
  *ngIf="displayAddPreparationStep && recipe"
></preparation-step-add>
<ul class="list-group" *ngIf="preparationSteps.length && recipe">
  <a
    class="list-group-item mt-1"
    *ngFor="let preparationStep of preparationSteps"
    [routerLink]="[
      '/recipes',
      recipe.id,
      'preparationsteps',
      preparationStep.id
    ]"
  >
    Step {{ preparationStep.stepNumber }}: {{ preparationStep.step }}
  </a>
</ul>
