<form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name :</label>
  </div>
  <div>
    <input id="name" type="text" formControlName="name" />
  </div>
  <p
    *ngIf="ingredientForm.get('name')?.errors?.['required']"
    class="text-danger"
  >
    Name is required
  </p>
  <p
    *ngIf="ingredientForm.get('name')?.errors?.['maxlength']"
    class="text-danger"
  >
    Name must be 50 characters maximum
  </p>
  <div class="mt-2">
    <label for="description">Description :</label>
  </div>
  <div>
    <textarea
      class="w-50"
      rows="5"
      id="description"
      formControlName="description"
    ></textarea>
  </div>
  <p
    *ngIf="ingredientForm.get('description')?.errors?.['maxlength']"
    class="text-danger"
  >
    Description must be 500 characters maximum
  </p>
 <div>
    <label for="quantity">Quantity :</label>
  </div>
  <div>
    <input id="quantity" type="text" formControlName="quantity" />
  </div>
 <p
    *ngIf="ingredientForm.get('quantity')?.errors?.['required']"
    class="text-danger"
  >
    Quantity is required
  </p>
  <p
    *ngIf="ingredientForm.get('quantity')?.errors?.['maxlength']"
    class="text-danger"
  >
   Quantity must be 50 characters maximum
  </p>
  <button class="btn btn-warning mt-1" type="submit">Add</button>
  <button
    class="btn btn-primary mt-1 ms-1"
    (click)="closeAdd()"
  >
    Cancel
  </button>
</form>
<span class="text-success" *ngIf="statusCode == 204"
  >Ingredient added with success!</span
>