<h2 id="ingredients">Ingredients</h2>
<span *ngIf="recipeIngredients.length == 0">No data found</span>
<button
  class="btn btn-outline-primary mt-2"
  (click)="toggleAddIngredient()"
  *ngIf="!displayAddIngredient"
>
  Add
</button>
<recipe-ingredient-add
  [recipeId]="recipe.id"
  (closingAdd)="toggleAddIngredient()"
  (addSucccessful)="refresh()"
  *ngIf="displayAddIngredient && recipe"
></recipe-ingredient-add>
<table
  class="table table-hover table-striped mt-1"
  *ngIf="recipeIngredients.length"
>
  <thead class="table-info">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipeIngredient of recipeIngredients">
      <td
        [routerLink]="['/ingredients', recipeIngredient.id]"
        class="cursor-pointer"
      >
        {{ recipeIngredient.name }}
      </td>
      <td
        [routerLink]="['/ingredients', recipeIngredient.id]"
        class="cursor-pointer"
      >
        {{ recipeIngredient.ingredientQuantity }}
      </td>
      <td>
        <button
          class="btn btn-outline-warning"
          (click)="toggleEditIngredient(recipeIngredient)"
        >
          Edit
        </button>
      </td>
      <td>
        <button
          class="btn btn-outline-danger"
          (click)="removeClicked(recipeIngredient.id)"
        >
          Remove
        </button>
      </td>
    </tr>
  </tbody>
</table>
<span id="editcompo">
  Editing quantity of:
  <span *ngIf="recipeIngredientEdited">{{ recipeIngredientEdited.name }}</span>
</span>
<recipe-ingredient-edit
  (editSuccessful)="refresh()"
  (closingEdit)="closeEdit()"
  [recipeId]="recipe.id"
  [recipeIngredient]="recipeIngredientEdited"
  *ngIf="displayEditIngredient && recipe"
></recipe-ingredient-edit>
