<h1>Recipes</h1>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="input-group mb-3">
        <button
          (click)="search()"
          class="input-group-text"
          id="search"
          title="Search"
        >
          <img src="/assets/images/icons/search.svg" />
        </button>
        <input
          type="text"
          [(ngModel)]="searchString"
          class="form-control"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search"
        />
      </div>
    </div>
  </div>
</div>
<div>
  <button
    class="btn btn-outline-primary mt-2"
    (click)="toggleAdd()"
    *ngIf="!displayAdd"
  >
    Add
  </button>
</div>
<recipe-add
  (closingAdd)="toggleAdd()"
  *ngIf="displayAdd"
></recipe-add>
<div>
  <table class="table table-hover table-striped mt-2" *ngIf="recipes.length">
    <thead class="table-primary">
      <tr>
        <th>Title</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let recipe of recipes"
        [routerLink]="['/recipes', recipe.id]"
        class="cursor-pointer"
      >
        <td>{{ recipe.title }}</td>
        <td>{{ recipe.recipeCategory.title }}</td>
      </tr>
    </tbody>
  </table>
</div>
<kc-pagination
  [currentPage]="pageNumber"
  [totalPages]="totalPages"
  (pageChangeEvent)="changePage($event)"
  (pageSizeEvent)="changePageSize($event)"
></kc-pagination>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
