<p *ngIf="recipe">
  Editing the recipe with initial title "<span class="fw-bold">{{
    recipe.title
  }}</span
  >"
</p>
<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title :</label>
  </div>
  <div>
    <input id="title" type="text" formControlName="title" />
  </div>
  <span
    *ngIf="recipeForm.get('title')?.errors?.['required']"
    class="text-danger"
  >
    Title is required
  </span>
  <span
    *ngIf="recipeForm.get('title')?.errors?.['maxlength']"
    class="text-danger"
  >
    Title must be 50 characters maximum
  </span>
  <div class="mt-2">
    <label for="description">Description :</label>
  </div>
  <div>
    <textarea
      class="w-50"
      rows="5"
      id="description"
      formControlName="description"
    ></textarea>
  </div>
  <span
    *ngIf="recipeForm.get('description')?.errors?.['maxlength']"
    class="text-danger"
  >
    Description must be 500 characters maximum
  </span>
  <div class="mt-2">
    <label for="recipeCategory">Category :</label>
  </div>
  <div>
    <select formControlName="recipeCategory">
      <option [ngValue]="null" disabled>Choose your category</option>
      <option
        *ngFor="let recipeCategory of recipeCategories"
        [ngValue]="recipeCategory.id"
      >
        {{ recipeCategory.title }}
      </option>
    </select>
  </div>
  <span
    *ngIf="recipeForm.get('recipeCategory')?.errors?.['required']"
    class="text-danger"
    >Category is required</span
  >
  <div>
    <button class="btn btn-outline-warning mt-1" type="submit"><i class="bi bi-pencil"></i> Save changes</button>
    <button class="btn btn-outline-primary mt-1 ms-1" (click)="closeEdit()">
      <i class="bi bi-x-circle"></i> Cancel
    </button>
  </div>
</form>

<div class="alert alert-danger mt1" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>
<div class="alert alert-success mt1" role="alert" *ngIf="statusCode == 204">
  Recipe edited with success!
</div>
