<p *ngIf="recipe == null">No data found</p>
<table class="table table-striped mt-1" *ngIf="recipe">
  <thead class="table-primary">
    <tr>
      <th>Type</th>
      <th>Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Title</td>
      <td>{{ recipe.title }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td [ngClass]="{ 'fst-italic': recipe.description == null }">
        {{ recipe.description ?? "No description found" }}
      </td>
    </tr>
    <tr>
      <td>Category</td>
      <td>
        <a [routerLink]="['/recipecategories', recipe.recipeCategory.id]">
          {{ recipe.recipeCategory.title }}</a
        >
      </td>
    </tr>
  </tbody>
</table>

<div class="alert alert-danger mt1" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>
