<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col">
        <label class="form-label" for="title">Title :</label>
        <input
          id="title"
          class="form-control"
          type="text"
          formControlName="title"
        />
        <span
          *ngIf="recipeForm.get('title')?.errors?.['required']"
          class="text-danger form-text"
        >
          Title is required
        </span>
        <span
          *ngIf="recipeForm.get('title')?.errors?.['maxlength']"
          class="text-danger form-text"
        >
          Title must be 50 characters maximum
        </span>
      </div>
      <div class="col-xl-4"></div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <label class="form-label" for="description">Description :</label>
        <textarea
          class="w-xl-75 form-control"
          rows="5"
          id="description"
          formControlName="description"
        ></textarea>
        <span
          *ngIf="recipeForm.get('description')?.errors?.['maxlength']"
          class="text-danger form-text"
        >
          Description must be 500 characters maximum
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label" for="recipeCategory">Category :</label>
        <select class="form-control" formControlName="recipeCategory">
          <option [ngValue]="null" disabled>Choose your category</option>
          <option
            *ngFor="let recipeCategory of recipeCategories"
            [ngValue]="recipeCategory.id"
          >
            {{ recipeCategory.title }}
          </option>
        </select>
        <span
          *ngIf="recipeForm.get('recipeCategory')?.errors?.['required']"
          class="text-danger form-text"
          >Category is required</span
        >
      </div>
      <div class="col-xl-4"></div>
    </div>
    <div class="mt-2">
      <button class="btn btn-outline-primary mt-1" type="submit">Add</button>
      <button class="btn btn-outline-primary mt-1 ms-1" (click)="closeAdd()">
        <i class="bi bi-x-circle"></i> Cancel
      </button>
    </div>
  </div>
</form>

<div class="alert alert-danger mt1" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>
<div class="alert alert-success mt1" role="alert" *ngIf="statusCode == 201">
  <i class="bi bi-check-square-fill"></i> Recipe added with success!
</div>
