<h2 id="ingredients">Ingredients</h2>
<p *ngIf="recipeIngredients.length == 0">No data found</p>
<div class="mt-3">
  <button
    class="btn btn-sm btn-outline-primary"
    (click)="toggleAddIngredient()"
  >
    <i class="bi bi-plus-square"></i> Add
  </button>
</div>
<div class="alert alert-success mt-1" role="alert" *ngIf="addSuccessful">
  <i class="bi bi-check-square-fill"></i> Ingredient added with success!
</div>
<div class="alert alert-success mt-1" role="alert" *ngIf="editSuccessful">
  <i class="bi bi-check-square-fill"></i> Ingredient edited with success!
</div>

<recipe-ingredient-add
  [recipeId]="recipe.id"
  (closingAdd)="toggleAddIngredient()"
  (addSucccessful)="onAddSuccess()"
  *ngIf="displayAddIngredient && recipe"
></recipe-ingredient-add>
<table
  class="table table-hover table-striped mt-3"
  *ngIf="recipeIngredients.length"
>
  <thead class="table-info">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipeIngredient of recipeIngredients">
      <td
        [routerLink]="['/ingredients', recipeIngredient.id]"
        class="cursor-pointer"
      >
        {{ recipeIngredient.name }}
      </td>
      <td
        [routerLink]="['/ingredients', recipeIngredient.id]"
        class="cursor-pointer"
      >
        {{ recipeIngredient.ingredientQuantity }}
      </td>
      <td>
        <button
          class="btn btn-outline-warning"
          (click)="toggleEditIngredient(recipeIngredient)"
        >
          <i class="bi bi-pencil"></i>
        </button>
      </td>
      <td>
        <button
          class="btn btn-outline-danger"
          (click)="removeClicked(recipeIngredient.id)"
        >
          <i class="bi bi-trash3"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<p id="editcompo" class="fw-light mt-1">
  Editing quantity:
  <span
    class="fw-normal"
    *ngIf="recipeIngredientEdited && displayEditIngredient"
    >of {{ recipeIngredientEdited.name }}</span
  ><span *ngIf="!displayEditIngredient">not at the moment</span>
</p>
<recipe-ingredient-edit
  (editSuccessful)="onEditSuccess()"
  (closingEdit)="closeEdit()"
  [recipeId]="recipe.id"
  [recipeIngredient]="recipeIngredientEdited"
  *ngIf="displayEditIngredient && recipe"
></recipe-ingredient-edit>

<div class="alert alert-danger mt1" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>
<div class="alert alert-success mt1" role="alert" *ngIf="statusCode == 204">
  <i class="bi bi-check-square-fill"></i> Ingredient removed with success!
</div>
