<h1>Preparation step</h1>
<div>
  <button class="btn btn-primary" (click)="backClicked()"><i class="bi bi-arrow-left-square"></i></button>
  <button
    class="btn btn-sm btn-outline-warning ms-2"
    (click)="toggleEdit()"
  >
    <i class="bi bi-pencil"></i> Edit
  </button>
  <button class="btn btn-sm btn-outline-danger ms-2" (click)="deleteClicked()">
    <i class="bi bi-trash3"></i> Delete
  </button>
</div>
<div class="alert alert-success mt-1" role="alert" *ngIf="editSuccessful">
  Preparation step edited with success!
</div>
<preparation-step-detail *ngIf="displayDetail"></preparation-step-detail>
<preparation-step-edit
  *ngIf="displayEdit"
  (editSuccess)="onEditSuccess()"
  (closingEdit)="toggleEdit()"
></preparation-step-edit>
<div class="alert alert-danger mt1" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>
<div class="alert alert-success mt1" role="alert" *ngIf="statusCode == 204">
  Preparation step deleted with success!
</div>
