<p *ngIf="recipeCategory">
  Editing the recipe category with initial title "<span class="fw-bold">{{
    recipeCategory.title
  }}</span
  >"
</p>
<form [formGroup]="recipeCategoryForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title :</label>
  </div>
  <div>
    <input id="title" type="text" formControlName="title" />
  </div>
  <span
    *ngIf="recipeCategoryForm.get('title')?.errors?.['required']"
    class="text-danger"
  >
    Title is required
  </span>
  <span
    *ngIf="recipeCategoryForm.get('title')?.errors?.['maxlength']"
    class="text-danger"
  >
    Title must be 50 characters maximum
  </span>
  <div class="mt-2">
    <label for="description">Description :</label>
  </div>
  <div>
    <textarea
      class="w-50"
      rows="5"
      id="description"
      formControlName="description"
    ></textarea>
  </div>
  <span
    *ngIf="recipeCategoryForm.get('description')?.errors?.['maxlength']"
    class="text-danger"
  >
    Description must be 500 characters maximum
  </span>
  <div>
    <button class="btn btn-outline-warning mt-1" type="submit"><i class="bi bi-pencil"></i> Save changes</button>
    <button class="btn btn-outline-primary mt-1 ms-1" (click)="closeEdit()">
      <i class="bi bi-x-circle"></i> Cancel
    </button>
  </div>
</form>

<div class="alert alert-danger mt1" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>
<div class="alert alert-success mt1" role="alert" *ngIf="statusCode == 204">
  Category edited with success!
</div>
