<nav aria-label="Pagination">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link btn" (click)="previousPage()">Previous</a>
    </li>
    <li
      class="page-item"
      [ngClass]="{ active: currentPage === number }"
      *ngFor="let number of pageNumbers"
    >
      <a class="page-link btn" (click)="onPageChange(number)">{{
        number
      }}</a>
    </li>
    <li class="page-item">
      <a class="page-link btn" (click)="nextPage()">Next</a>
    </li>
  </ul>
</nav>
