<nav aria-label="Pagination">
  <ul class="pagination pagination-sm justify-content-center">
    <li class="page-item">
      <a class="page-link cursor-pointer" (click)="previousPage()">Previous</a>
    </li>
    <li
      class="page-item"
      [ngClass]="{ active: currentPage === number }"
      *ngFor="let number of pageNumbers"
    >
      <a class="page-link cursor-pointer" (click)="onPageChange(number)">{{ number }}</a>
    </li>
    <li class="page-item">
      <a class="page-link cursor-pointer" (click)="nextPage()">Next</a>
    </li>
  </ul>
  <div class="pagination justify-content-center">
    <span>Items per page: </span>
    <select class="ms-2" [(ngModel)]="pageSize">
      <option [ngValue]="5">Choice</option>
      <option
        *ngFor="let number of pageSizeOptions"
        [ngValue]="number" (click)="onPageSizeChange()"
      >
        {{ number }}
      </option>
    </select>
  </div>
</nav>
