<form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="quantity">Quantity :</label>
  </div>
  <div>
    <input id="quantity" type="text" formControlName="quantity" />
  </div>
  <span
    *ngIf="ingredientForm.get('quantity')?.errors?.['required']"
    class="text-danger"
  >
    Quantity is required
  </span>
  <span
    *ngIf="ingredientForm.get('quantity')?.errors?.['maxlength']"
    class="text-danger"
  >
    Quantity must be 50 characters maximum
  </span>
  <div>
    <button class="btn btn-outline-warning mt-1" type="submit">
      Save changes
    </button>
    <button class="btn btn-outline-primary mt-1 ms-1" (click)="closeEdit()">
      <i class="bi bi-x-circle"></i> Cancel
    </button>
  </div>
</form>
<div class="alert alert-danger mt1" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>
<div class="alert alert-success mt1" role="alert" *ngIf="statusCode == 204">
  <i class="bi bi-check-square-fill"></i> Ingredient edited with success!
</div>
