<h1>Recipe detail</h1>

<h2>Recipe</h2>
<span *ngIf="recipe == null">No data found</span>
<table class="table table-striped mt-4" *ngIf="recipe">
  <thead class="table-primary">
    <tr>
      <th>Type</th>
      <th>Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Title</td>
      <td>{{ recipe.title }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ recipe.description ?? "-" }}</td>
    </tr>
    <tr [routerLink]="['/recipecategories', recipe.recipeCategory.id]" class="cursor-pointer">
      <td>Category</td>
      <td>
        {{
          recipe.recipeCategory.title
        }}
      </td>
    </tr>
  </tbody>
</table>

<h2>Ingredients</h2>
<span *ngIf="recipeIngredients.length == 0">No data found</span>
<table class="table table-hover table-striped mt-4" *ngIf="recipeIngredients.length">
  <thead class="table-info">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr [routerLink]="['/ingredients', recipeIngredient.id]" *ngFor="let recipeIngredient of recipeIngredients" class="cursor-pointer">
      <td>{{ recipeIngredient.name }}</td>
      <td>{{ recipeIngredient.ingredientQuantity }}</td>
      <td>{{ recipeIngredient.description ?? "-" }}</td>
    </tr>
  </tbody>
</table>

<h2>Preparation steps</h2>
<span *ngIf="preparationSteps.length == 0">No data found</span>
<ul class="list-group" *ngIf="preparationSteps.length">
  <li
    class="list-group-item mt-1"
    *ngFor="let preparationStep of preparationSteps"
  >
    Step {{ preparationStep.stepNumber }}: {{ preparationStep.step }}
  </li>
</ul>
