<h1>Recipe list</h1>

<div class="input-group mb-3">
  <button class="input-group-text" id="search">
    <img src="/assets/images/icons/search.svg" />
  </button>
  <input
    type="text"
    [(ngModel)]="searchString"
    class="form-control"
    placeholder="Search"
    aria-label="Search"
    aria-describedby="search"
  />
  <span class="input-group-text" id="filter"
    ><img src="/assets/images/icons/funnel.svg" />
  </span>
  <input
    type="text"
    class="form-control"
    placeholder="Filter by specific title"
    aria-label="Filter by specific title"
    aria-describedby="filter"
  />
</div>
<div>
  <table class="table table-striped mt-4" *ngIf="recipes.length">
    <thead class="table-primary">
      <th>Title</th>
      <th>Category</th>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes">
        <td>{{ recipe.title }}</td>
        <td>{{ recipe.recipeCategory.title }}</td>
      </tr>
    </tbody>
  </table>
</div>
<kc-pagination [currentPage]="pageNumber" [totalPages]="totalPages" (pageChangeEvent)="changePage($event)"></kc-pagination>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
