<h1>Categories</h1>
<div>
  <button
    (click)="toggleAdd()"
    class="btn btn-outline-primary"
    *ngIf="!displayAdd"
  >
    <i class="bi bi-plus-square"></i> Add
  </button>
</div>
<div class="alert alert-success mt-1" role="alert" *ngIf="addSuccessful">
  Category added with success!
</div>
<recipe-category-add
  (addSuccessful)="onAddSuccess()"
  (closingEdit)="toggleAdd()"
  *ngIf="displayAdd"
></recipe-category-add>
<div>
  <ul class="list-group">
    <li
      class="list-group-item mt-1 cursor-pointer"
      [routerLink]="['/recipecategories', recipeCategory.id]"
      *ngFor="let recipeCategory of recipeCategories"
    >
      {{ recipeCategory.title }}
    </li>
  </ul>
</div>
<div class="alert alert-danger mt1" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>
