<h1>Recipe category</h1>
<div>
  <button class="btn btn-primary me-1" (click)="backClicked()">Back</button>
  <button
    class="btn btn-warning me-1"
    (click)="toggleEdit()"
    *ngIf="displayDetail"
  >
    Edit
  </button>
  <button class="btn btn-danger" (click)="deleteClicked()">Delete</button>
</div>
<recipe-category-detail *ngIf="displayDetail"></recipe-category-detail>
<recipe-category-edit
  (closingEdit)="toggleEdit()"
  *ngIf="displayEdit"
></recipe-category-edit>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage !== ''">
  {{ errorMessage }}
</div>
<div class="alert alert-success" role="alert" *ngIf="statusCode == 204">
  Category deleted with success!
</div>
