<div class="bg-white">
  <nav class="py-2 border-bottom bg-dark">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item">
          <a
            [routerLink]="['/welcome']"
            class="nav-link link-info px-3 active text-white"
            aria-current="page"
          >
            Home</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/recipes']"
            class="nav-link link-info px-3 text-white"
          >
            Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/ingredients']"
            class="nav-link link-info px-3 text-white"
          >
            Ingredients</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/recipecategories']"
            class="nav-link link-info px-3 text-white"
          >
            Recipe categories</a
          >
        </li>
        <li class="nav-item">
          <a href="users" class="nav-link link-info px-3 text-white"> Users</a>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item">
          <a href="signin" class="nav-link link-info px-3 text-white">
            Sign in</a
          >
        </li>
        <li class="nav-item">
          <a href="logout" class="nav-link link-info px-3 text-white">
            Log out</a
          >
        </li>
      </ul>
    </div>
  </nav>

  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex justify-content-center">
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none"
      >
        <span class="fs-4">Kitchen</span>
      </a>
    </div>
  </header>

  <div class="page">
    <div class="container bg-light">
      <main>
        <article class="content px-4">
          <router-outlet></router-outlet>
        </article>
      </main>
    </div>
  </div>

  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="/" class="nav-link link-info px-2 text-muted">Home</a>
        </li>
        <li class="nav-item">
          <a href="logout" class="nav-link link-info px-2 text-muted"
            >Log out</a
          >
        </li>
      </ul>
      <p class="text-center text-muted">
        &copy; 2023 Philemon Emile Olivier Philippin
      </p>
    </footer>
  </div>
</div>
